<% if(typeof(message) != "undefined") { %>
  <div class="cont-error">
    <% if(message.code !== undefined) { %>
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> <%- message.sqlMessage %>
    <% } else if (message.message !== undefined) { %>
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> <%- message.message %>
    <% } else { %>
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong> <%- message %>
    <% } %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
  </div>
<% } %>