<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
  <a class="navbar-brand" href="#">
    <img
      src="/img/logo.png"
      width="30" height="30" class="rounded d-inline-block align-top mr-2 mt-0" alt="">
    <div class="d-none d-sm-inline-block mt-0">
      Jewelz
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-100 d-flex justify-content-between">
      <div class="block-1 w-auto mt-0">
        <li id="dashboard" class="nav-item text-right d-lg-inline-block">
          <a class="nav-link" href="#">
            Profile
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li id="employee" class="nav-item text-right d-lg-inline-block">
          <a class="nav-link" href="#">
            Cart
          </a>
        </li>
      </div>
      <div class="block-2 mt-0">
        <li class="nav-item text-right">
          <a class="nav-link" href="#">
            Logout
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>