<h1>Homepage</h1>

<div>

  <% products.forEach(item => { %>
    <p><%- item.title %></p>
    <p><%- item.description %></p>
    <% let productImages = [] %>
    <% images.forEach(image => { %>
      <% if(image.product_id == item.id){ %>
        <% productImages.push(image) %>
      <% } %>
    <% }) %>
    <img src="<%- productImages[0].path %>" alt="" width="100px">
  <% }) %>

</div>
