<div class="container d-flex justify-content-center align-items-center cont-login">
  <div class="text-center w-100">
    <form class="form-signin" autocomplete="off">
      <a href="/">
        <img class="mb-4" src="/img/logo.png" alt="" width="72" height="72">
      </a>
      <h1 class="h3 mb-3 font-weight-normal">
        Please sign in
      </h1>
      <label for="inputEmail" class="sr-only">
        Email address
      </label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">
        Password
      </label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="my-1">
        Forgot your password?
        <a href="" class="text-decoration-none text-body"><b>Reset here</b></a>.
      </p>
      <p class="my-1">
        Don't have an account?
        <a href="" class="text-decoration-none text-body"><b>Register here</b></a>.
      </p>
      <p class="mt-5 mb-3 text-muted">&copy; Jewelz 2020</p>
    </form>
  </div>
</div>