<div class="container d-flex justify-content-center align-items-center cont-reset">
  <div class="text-center w-100">
    <form class="form-reset" autocomplete="off">
      <a href="/">
        <img class="mb-4" src="/img/logo.png" alt="" width="72" height="72">
      </a>
      <h1 class="h3 font-weight-normal">
        Forgot your password?
      </h1>
      <p class="mb-3 text-black-50">
        Enter your email to reset your password.
      </p>
      <label for="resetEmail" class="sr-only">
        Email address
      </label>
      <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required autofocus>

      <%- include ('../partials/errors.ejs') %>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Reset password
      </button>
      <p class="my-1">
        Back to
        <a href="/user/login" class="text-decoration-none text-body"><b>login</b></a>.
      </p>
      <p class="mt-5 mb-3 text-muted">&copy; Jewelz 2020</p>
    </form>
  </div>
</div>